# Python
__pycache__/
*.pyc
.env
venv/

# Firebase
firebase_key.json
client_secret*.json

# OCR / System binaries
poppler-*/
*.exe
*.dll
*.zip
*.tar.xz

# Uploads
uploads/

# Database
*.db

# OS
.DS_Store
Thumbs.db
