{% extends "base.html" %}

{% block content %}

<h2>Your Health Dashboard</h2>

<p class="health-id">
  <b>Health ID:</b> {{ health_id }}
</p>

<form action="/upload" method="POST" enctype="multipart/form-data" class="upload-box">
  <input type="file" name="report" required>
  <button type="submit">Upload Medical Report</button>
</form>

<hr>

<h3>Previous Reports</h3>

{% if reports %}
  {% for r in reports %}
    <div class="report-card">
      <h4>{{ r.filename }}</h4>
      <p>{{ r.ai_summary }}</p>
    </div>
  {% endfor %}
{% else %}
  <p>No reports uploaded yet.</p>
{% endif %}

{% endblock %}
